.server-day-time {
    margin-left: 5px;
}

.server-browser-table-component {
    height: calc(100vh - 200px);
    overflow-y: scroll;
}

.server-browser-table-paginator {
    margin-top: 10px;
}

.sortable-header-cell {
    cursor: pointer !important;
}