.three-state-checkbox {
    padding: -2px;
    width: 17px;
    height: 17px;
    border: 1px solid #aaaaaa;
    border-radius: 2px;
    cursor: pointer;
}

.three-state-checkbox-title {
    color: white;
    cursor: pointer;
    padding-left: 5px;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.three-state-checkbox-wrapper {
    display: flex;
    align-items: center;
}

.three-state-checkbox-icon-pos {
    color: limegreen;
    margin-top: -2px;
    font-size: 0.9em;
}

.three-state-checkbox-icon-neg {
    color: red;
    margin-top: -4px;
    font-size: 1.1em;
}